*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 80px;
}

.square-block{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: transform 1s ;
}

.square-block:hover{
    transform: translate(50px, 100px);
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transform: rotate(45deg);
    background-color: green;
    margin-top: 100px;
    transition: 2s;
}

.circle:hover{
    transform: scale(1.5);
}

.long-square{
    width: 200px;
    height: 100px;
    background-color: blue;
    margin-top: 100px;
    transition: 1s;
}

.long-square:hover{
    background-color: orangered;
    width: 250px;
    height: 150px;
}

.block{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: 1.5s;
    margin-top: 100px;
}

.block:hover{
    transform: scale(1.5) rotate(90deg) translate(30px, 0);
}

button{
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    font-family: cursive;
    font-size: 16px;
    background-color: green;
    border-radius: 16px;
    margin-top: 100px;
    transition: 0.8s;
}

button:hover{
    background-color: yellow;
    transform: scale(1.2) rotate(5deg);
}